# OCamlbuild files.
_build/
*.native
*.docdir

# Dedukti files.
*.dko
*.stt
# LaTeX files.
*.aux
*.log
*.pdf
*.tex
# Editor temporary files.
*~
\#*\#
.\#*

# PVS files
*.pvs
*.prf
*.summary
pensebete
pvsbin/
.pvscontext
pvs-strategies

# COQ files
*.v
*.vo
*.glob

# MATITA files
*.ma

# OPENTHEORY files
*.thy
*.art
*.zip

#LEAN files
*.lean

# BDD files
*.json
*.bson

# MAKEFILE temporary files
.library_depend*

# MAC/OSX files
.DS_Store